@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    /* background-color: cadetblue; */
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
    
}

.logo h1{
    font-family: 'Lobster Two', cursive;
    color: #180f4a;
    font-size: 34px;
    
}

.menu{
    margin-top: -90px;
    flex: 70%;
    /* border: 1px solid black; */
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 25px 16px;
}

.menu a:hover{
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#btnfc{
    background-color: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#btnfc:hover{
    border:none;
    background-color: #ff2978;
}

.main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: row wrap;
    padding-top: 100px;
    /* background-color: gray; */
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /* border: 1px black solid; */
    
}

.headeline h2{
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid pink; */
    text-align: center;
}

.headeline p{
    text-align: left;
    color: gray;
}
.contact-btn{
    display: inline-block;
    background-color: #ff2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background-color: #180f4a;

}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: solid 1px black; */
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
    width: 90%;
}

section h2{
    width: 100%;
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    color: #180f4a;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    cursor: pointer;
    border-radius: 15px;
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
}

.text-oculto{
    display: none;
}

.card:hover{
    background-color: #ff2978;
    color: white;
    padding: 50px;

}

.card:hover .card-text{
    display: none;
}

.card:hover .text-oculto{
    display: block;
}

.card:hover img{
    display: none;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180f4a, #090422, black);
    text-align: center;
    border-top: 5px solid #ff2978;
    color: white;
}

.logo-rodape{
    padding: 100px;
    
}

.agencia{
    font-family: 'Lobster Two', cursive;
    font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
}

hr{
    width: 90%;
    text-align: center;
}

.menuMob{
    margin-right: 2rem;
}

.linha{
    display: none;
    width: 2rem;
    background-color: #180f4a;
    height: 0.15rem;
    margin-top: 0.3rem;
}


.menuMob{
    flex: 10%;
}

.linha{
    display: none;
}

.menu.Clicado{
    width: 100%;
    margin-top: 100vh;
    position: fixed;
    flex: 100%;
    display: absolute;
    background-color: #180f4a;
    height: 85vh;
    margin-left: 0;
}
.menu.Clicado a{
    display: block;
    color: white;
}

