/* Area de responsividade do site. */
/* Eu utilizei apenas uma media querie, pois o site já é dinâmico por si só e se adapta tranquilamente aos dispositivos móveis. */


@media screen and (max-width: 1005px){

    .menu{
        display: none;
    }

    .menu.Clicado{
        display: block;
    }

    .menu.Clicado a{
        padding: 0;
        margin: 2rem;
        text-align: right;
    }

    #btnfc{
        background-color: none;
        padding: 0;
        color: white;
        border-radius: 0;
        margin-right: 2rem;
        margin-left: 0;
    }
    
    #btnfc:hover{
        border:none;
        background-color: none;
    }

    
    .logo{
        flex: 80%;
        margin: 0;
        text-align: center;
    }

    .main{
        padding-top: 50px;
        display: block;
    }

    .header{
        display: flex;
        position: static;
    }

   
    .headline{
        margin: 5%;
        text-align: center;
    }

    .headline p{
        text-align: center;
    }

    .img-headline{
        max-width: 80%;
        margin: 5%;
        text-align: center;
        margin-top: 50px;
    }

    .card{
        width: 100%;
    }
}