/* Area de responsividade do site. */
/* Eu utilizei apenas uma media querie, pois o site já é dinâmico por si só e se adapta tranquilamente aos dispositivos móveis. */
@media screen and (min-width: 1006px) {
    
    
}

@media screen and (max-width: 1005px){

    .linha{
        display: block;
    }

    .menu{
        width: 100%;
        margin-top: 100vh;
        position: fixed;
        flex: 100vh;
        display: absolute;
        margin-left: 1000px;
        background-color: #180f4a;
        height: 85vh;
        transition: margin-left 0.5s ease-in-out;
    }

    .menu a{
        opacity: 0;
        padding: 0;
        margin: 2rem 10%;
        width: 80%;
        border: 1px solid white;
        text-align: right;
        display: block;
        color: white;
        transition: opacity 1s ease-in-out;
    }s

    #btnfc{
        background-color: none;
        margin-right: 0;
        margin-left: 0;
    }
    
    #btnfc:hover{
        border:none;
        background-color: none;
    }

    
    .logo{
        flex: 80%;
        margin: 0;
        text-align: center;
    }

    .main{
        padding-top: 50px;
        display: block;
    }

    .header{
        display: flex;
        position: static;
    }

   
    .headline{
        margin: 5%;
        text-align: center;
    }

    .headline p{
        text-align: center;
    }

    .img-headline{
        max-width: 80%;
        margin: 5%;
        text-align: center;
        margin-top: 50px;
    }

    .card{
        width: 100%;
    }
}